@define-color background-black rgba(0, 0, 0, 0.5);
@define-color text-white rgba(255, 255, 255, 1);

* {
  font-family: 'JetBrainsMono';
  font-size: 15px;
  transition: 0.5s ease-out;
}

window#waybar {
  background-color: @background-black;
  color: @text-white;
}

#clock {
  padding: 0px 100px;
  color: @text-white;
}
