@define-color background-black rgba(0, 0, 0, 0.5);
@define-color text-white rgba(255, 255, 255, 1);

* {
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 15px;
  transition: 0.5s ease-out;
}

window#waybar {
  background-color: @background-black;
  color: @text-white;
}

#window,
#custom-asahi_fedora,
#custom-notification,
#network,
#battery,
#clock {
  color: @text-white;
  padding: 0 10px;
}

#custom-asahi_fedora {
  padding-left: 15px;
  font-size: 21px;
}

#clock {
  padding-right: 15px;
  padding-left: 25px;
}
